.checkoutContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.checkout-header {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(254, 215, 239);
}

.checkoutItemContainer {
  width: 100%;
  display: flex;
  padding: 15px 0;
  align-items: center;
  border-bottom: 1px solid rgb(254, 215, 239);
}

.imgContainer {
  width: 23%;
  padding-right: 15px;
}

.checkoutImg {
  width: 100%;
  height: 100%;
}

.title,
.desc,
.quantity,
.price {
  width: 23%;
  font-size: 18px;
}

.quantity {
  display: flex;
}

.value {
  margin: 0 10px;
}

.deleteBtn {
  padding-right: 15px;
}

.total {
  margin-top: 30px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .checkoutItemContainer {
    /* previous styles */
    display: block;
  }

  .checkout-header {
    display: none;
  }

  .title,
.desc,
.price {
  display: block;
}
}