/* importing font */
@import url('https://fonts.googleapis.com/css?family=Cairo');

html,
body,
#root {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
}

.App {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto -50px;
  padding-bottom: 60px;
}

.myName {
  background-image: url(https://media.giphy.com/media/3o7aDdSjGlUbmwFCQo/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-size: 6em;
  margin: 10px 0;
  font-family: 'Bungee', sans-serif;
}

/* flame skull pink https://media.giphy.com/media/3o7aDdSjGlUbmwFCQo/giphy.gif */

/* hearts https://media.giphy.com/media/xUOxfcThsc5Yyiwphu/giphy.gif */

/* Red Purple Orange hearts https://media.giphy.com/media/YVrgOcqxm7m96eeCB6/giphy.gif */

/* Static https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif */

/* Skull https://media.giphy.com/media/3o7qE8TcxvLxDGPBmM/giphy.gif */

/* lava ish https://media.giphy.com/media/LnEeDF1IzKdZlHruw9/giphy.gif */

/* pink orange yellow flowy thing https://media.giphy.com/media/3o85xH0vZ6np1ciShW/giphy.gif */

.scrollTop {
  position: fixed;
  width: 100%;
  left: 38%;
  bottom: 20px;
  align-items: center;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

#upArrow {
  position: fixed;
  width: 100%;
  left: 38%;
  bottom: 34px;
  align-items: center;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .myName {
    /* previous styles */
    font-size: 4em;
  }
}

@media screen and (max-width: 768px) {
  .socialIcon {
    /* previous styles */
    width: 20px;
    height: 20px;
  }
}
